<app-header></app-header>
<app-button></app-button>
<div class="main-content">
    <div class="main-student">
        <div class="titles">
            <div *ngFor="let help of returnHelp()" (click)="onSelectedHelp(help)">
                <h3>{{help.title}}</h3>
            </div>
        </div>
        <div *ngIf="selectedHelp" class="content">
            <h3>{{selectedHelp.title}}</h3>
            <h4 class="subtitle">{{selectedHelp.subtitle}}</h4>
            <img src="{{selectedHelp.pdf}}" alt="help">
            <p class="text">{{selectedHelp.text}}</p>
            <!-- <video src="{{selectedHelp.video}}" controls></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/C6ZttnkgCB4?si=WlnQe9yGYQ7YZMLo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>