.main-content {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
    background-color: #E1E1E1;
}

/* Estilos para el componente principal de estudiantes */
.main-student {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f0f0f0; /* Color de fondo para la sección de estudiantes */
}

/* Estilos para los títulos */
.titles {
    padding: 10px;
    background-color: #ffa5a5; /* Color de fondo para los títulos */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

/* Estilos para el contenido seleccionado */
.content {
    flex: 1;
    padding: 20px;
    background-color: #fff; /* Color de fondo para el contenido */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20px; /* Espacio entre los títulos y el contenido */
    text-align: center;
}

/* Estilos para el video y el enlace PDF */
video {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

a {

    margin-top: 10px;
    text-decoration: none;
    background-color: #007bff; /* Color de fondo para el enlace PDF */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón por encima */
}

.subtitle {
    text-align: center;
    padding: 20px;
}

img {
    width: 200px;
    height: auto;
}

.text {
    text-align: left;
}

h3 {
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
h3:hover {
    background-color: #ff4141; /* Cambio de color al pasar el ratón por encima */
}