<app-header></app-header>
<app-button></app-button>
<div class="main-student">
    <div *ngFor="let help of returnHelp()" (click)="onSelectedHelp(help)" class="titles">
        <h3>{{help.title}}</h3>
    </div>
    <div *ngIf="selectedHelp" class="content">
        <h3>{{selectedHelp.title}}</h3>
        <h4>{{selectedHelp.subtitle}}</h4>
        <p>{{selectedHelp.text}}</p>
        <video src="{{selectedHelp.video}}" controls></video>
        <a href="{{selectedHelp.pdf}}">PDF</a>
    </div>
</div>
