<div class="login-container">
    <div class="left-section">
        <h1>Bienvenido</h1>
        <video src="../../../assets/video_prueba.mov" controls></video>
        <div class="video-message">
            <i class="fa-solid fa-share"></i>
            <p>¿No sabes como ingresar? Ve el video</p>
        </div>
    </div>
    <div class="right-section">
        <img src="../../../assets/edu_aprende.png" alt="EduAprende">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label for="username">Correo</label>
                <input type="username" id="username" name="username" formControlName="username">
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert-data">
                    <div *ngIf="username.errors?.['required']" class="required-data">
                        El username es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" formControlName="password">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-data">
                    <div *ngIf="password.errors?.['required']" class="required-data">
                        La contraseña es obligatoria
                    </div>
                </div>
            </div>
            <div class="forgot-password">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" (click)="login()">Ingresar</button>
        </form>
    </div>
</div>
