<app-header></app-header>
<main class="main">
    <app-button></app-button>
    <div class="main-content" (click)="returnTitles()">
        <div *ngIf="returnRole() === 'estudiante'" class="main-student">
            <div class="titles">
                <div *ngFor="let title of returnTitles()" (click)="onSelectedTitle(title)">
                    <h3 class="main-title">{{title.title}}</h3>
                </div>
            </div>
            <div *ngIf="selectedTitle" class="content">
                <h3 class="title">{{selectedTitle.title}}</h3>
                <h4 class="subtitle">{{selectedTitle.subtitle}}</h4>
                <p class="text">{{selectedTitle.text}}</p>
                <!-- <video src="{{selectedTitle.video}}" controls></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MEuZICEDLJo?si=VGILC3FW7Awtnpa5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <p class="text">A continuación, encontrarás un enlace para acceder a un archivo PDF que contiene información relevante y fundamental para tu curso o proyecto. Te recomendamos revisar detenidamente este documento, ya que proporcionará valiosos conocimientos y directrices esenciales.  </p>
                <a class="pdf" href="{{selectedTitle.pdf}}" target="_blank">PDF</a>
            </div>
        </div>
        <div *ngIf="returnRole() === 'docente'" class="main-teacher">
            <h2 class="my-courses">Mis cursos</h2>
            <div class="box">
                <p class="in-course">En curso</p>
                <h4 class="title-text">Gestión de Usuarios</h4>
                <a class="acces" routerLink="/gestion-de-usuarios">Ingresar</a>
            </div>
        </div>
    </div>
</main>

